body {
    height: 100vh;
    font-family: "Karla", sans-serif;
    background-image: url("../img/barbershop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-global {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    max-width: 900px;
}

.titulo {
    background: rgba(1,1,1,0.9);
    padding: 5px 10px;
}

.titulo h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.titulo h1 span {
    font-size: 15px;
    vertical-align: top;
}

.agendar-h2 {
    background: rgb(70, 70, 70);
    padding: 5px 10px;
}

.agendar-h2 h2 {
    color: white;
    text-align: center;
}

.caixa-global {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caixa1 {
    background: black;
    color: white;
    padding: 120px 90px;
}

.caixa1 label {
    font-size: 14px;
}

.nome input {
    font-family: "Karla", sans-serif;
    width: 220px;
    padding: 6px 24px;
    border: 0;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#contratacao, #nascimento {
    font-family: "Karla", sans-serif;
    font-size: 12px;
    padding: 2px 2px;
}

.caixa2 {
    background: black;
    color: white;
    padding: 120px 90px;
    border-left: 1px solid rgba(70,70,70,.5);
}

.especialidades-area legend {
    margin-bottom: 10px;
}

.especialidades-area legend, .especialidades-area label {
    font-size: 14px;
}

.especialidades-area input {
    margin-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 181px;
}

button {
    align-self: center;
    padding: 10px 25px;
    border: 0;
    box-shadow: 2px 2px 3px;
    border-radius: 4px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

.links {
    margin-bottom: 20px;
    text-align: center;
}

.links a {
    color: red;
    text-decoration: none;
}

.links a:hover {
    color: greenyellow;
    text-decoration: underline;
}

@media(max-width: 900px){
    body {
        height: auto;
        min-width: 375px;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .caixa-global {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .caixa1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px;
    }

    .data {
        margin-bottom: 30px;
    }

    .caixa2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 40px;
        border: 0;
    }

    .especialidades-area {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .especialidades-area input {
        margin-bottom: 20px;
    }

    .nome input {
        margin-left: 10px;
    }

    .button {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .links {
        margin-bottom: 30px;
    }
}