body {
    height: 100vh;
    font-family: "Karla", sans-serif;
    background-image: url("../img/barbershop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-global {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    max-width: 900px;
}

.titulo {
    background: rgba(1,1,1,0.9);
    padding: 5px 10px;
}

.titulo h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.titulo h1 span {
    font-size: 15px;
    vertical-align: top;
}

.cadastrar-h2 {
    background: rgb(70, 70, 70);
    padding: 5px 10px;
}

.cadastrar-h2 h2 {
    color: white;
    text-align: center;
}

#msgErro {
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    background: #FF0000;
    display: none;
}

#msgSucesso {
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    background: #00BB00;
    display: none;
}

.caixa-global {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caixa1 {
    background: black;
    color: white;
    padding: 90px;
}

.caixa1 label {
    font-size: 14px;
}

#nome, #email, #confirmacao-email {
    display: block;
    font-family: "Karla", sans-serif;
    width: 220px;
    padding: 6px 36px 6px 12px;
    border: 0;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.caixa2 {
    background: black;
    color: white;
    padding: 90px;
    border-left: 1px solid rgba(70,70,70,.5);
}

.senha-area legend {
    margin-bottom: 10px;
}

.senha-area legend, .senha-area label {
    font-size: 14px;
}

#senha, #confirmacao-senha {
    font-family: "Karla", sans-serif;
    display: block;
    width: 220px;
    padding: 6px 36px 6px 12px;
    border: 0;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.senha {
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 31px;
    right: 10px;
    cursor: pointer;
    color: black;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    align-self: center;
    padding: 10px 25px;
    border: 0;
    border-radius: 4px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

button:hover {
    color: white;
    background: grey;
    cursor: pointer;
}

.links {
    margin-bottom: 20px;
    text-align: center;
}

.links a {
    color: red;
    text-decoration: none;
}

.links a:hover {
    color: greenyellow;
    text-decoration: underline;
}

@media(max-width: 900px){
    body {
        height: auto;
        min-width: 375px;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .caixa-global {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .caixa1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px 0px 20px;
    }

    .email {
        margin-bottom: 30px;
    }

    .caixa2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 40px;
        border: 0;
    }

    .senha-area {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #nome, #email, #confirmacao-email, #senha, #confirmacao-senha {
        margin-bottom: 30px;
    }

    .button {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .links {
        margin-bottom: 30px;
    }
}