body {
    height: 100vh;
    font-family: "Karla", sans-serif;
    background-image: url("../img/barbershop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-global {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
}

.caixa1 {
    background: rgba(1,1,1,0.9);
    color: white;
    padding: 220px 110px;
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}

.titulo h1 {
    font-size: 80px;
}

.titulo h1 span {
    vertical-align: top;
    font-size: 20px;
}

.caixa2 {
    background: rgba(255, 255, 255, 0.5);
    padding: 220px 110px;
}

#msgErro {
    text-align: center;
    color: #fff;
    padding: 5px;
    background: #f00;
    margin-bottom: 10px;
    display: none;
}

.login-area {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    gap: 15px;
}

.caixa2 h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.caixa2 label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#email, #senha {
    font-family: "Karla", sans-serif;
    width: 220px;
    padding: 8px 10px;
    border: 0;
    border-radius: 2px;
}

#email {
    font-family: "Karla", sans-serif;
}

.senha {
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 33px;
    right: 10px;
    cursor: pointer;
}

hr {
    width: 100px;
    margin: 5px;
}

button {
    padding: 10px 40px;
    border: 0;
    border-radius: 4px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

button:hover {
    color: #fff;
    background: #000;
    cursor: pointer;
}

.links {
    background: rgba(1,1,1,0.9);
    padding: 4px 8px;
    color: #fff;
}

.links a {
    text-decoration: none;
    color: #f00;
}

.links a:hover {
    color: #adff2f;
    text-decoration: underline;
}

@media(max-width: 1100px){
    body {
        height: auto;
        min-width: 375px;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 20px;
    }

    .caixa1 {
        padding: 30px 20px;
    }

    .titulo h1 {
        font-size: 60px;
    }

    .caixa2 {
        padding: 50px 20px;
    }
}
